/*SimplicScrum.html Style Sheet*/ 

html,body{
	margin:0;
	padding:0;
	background:#d2d1d1;
	overflow:hidden;
}

a:link {text-decoration:none;}
a:visited {text-decoration:none;}
a:hover {text-decoration:none;}
a:active {text-decoration:none;}

img {border:0px;}

#container_top{
	position:relative;
	width:100%;
	z-index:10;
	overflow:hidden;
}
#top_left{
	float:left;
	width:50%;
	height:60px;
	background :#808080;
	box-shadow: 0 4px 2px -2px rgba(0,0,0,0.4);
}
#top_left .innerdiv {
	margin-right:481px;
}
#top_right{
	float:right;
	width:50%;
	height:60px;
	background:#38373C;
	box-shadow: 0 4px 2px -2px rgba(0,0,0,0.4);
}
#top_right .innerdiv {
	margin-left:182px;
	height:60px;
	float:right;
	padding-right:10px;
	padding-top:30px;
}

#top_menu{
	position:absolute;
	left:50%;
	margin-left:-182px; /*넓이의 반*/
	width:364px; 
	background:URL("/~sscrum/SimplicScrum/image/top_menu.bmp");
	height:60px;
}
menu_text{
	color:white;
	font-family:돋움;
	font-weight:bold;
	margin-right:10px;
}
a.top_menu:link{ text-decoration:none; color: white;}
a.top_menu:Visited{ text-decoration:none; color: white;}
a.top_menu:hover{color:yellow;}

 #container_Login{
	position:absolute;
	top:-424px;
	width:100%;
	overflow:hidden;
	display:block;
}

#Login_left{
	float:left;
	width:50%;
	height:484px;
	background:white;
}
#Login_left .innerdiv {
	margin-right:481px;
}

#Login_right{
	float:right;
	width:50%;
	height:484px;
	background:white;
}

#Login_right .innerdiv {
	margin-left:635px;
	height:484px;
	float:right;
	padding-right:10px;
	padding-top:30px;
}

#Login_menu{
	position:absolute;
	left:50%;
	margin-left:-634px; /*넓이의 반*/
	width:1278px; 
	background:url("/~sscrum/SimplicScrum/image/login.png");
	height:484px;
	text-align:center;
	padding-top:100px;
}
/**************************************************/
 
 #container_mid{
	position:absolute;
	top:60px;
	width:100%;
	overflow:hidden;
	display:block;
}

#mid_left{
	float:left;
	width:50%;
	height:733px;
	background:url("/~sscrum/SimplicScrum/image/back.png");
}
#mid_left .innerdiv {
	margin-right:481px;
}

#mid_right{
	float:right;
	width:50%;
	height:733px;
	background:url("/~sscrum/SimplicScrum/image/back.png");
}

#mid_right .innerdiv {
	margin-left:635px;
	height:733px;
	float:right;
	padding-right:10px;
	padding-top:30px;
}

#mid_menu{
	position:absolute;
	left:50%;
	margin-left:-635px; /*넓이의 반*/
	width:1270px; 
	background:url("/~sscrum/SimplicScrum/image/main.png");
	height:733px;
	text-align:center;
	padding-left:10px;
	padding-top:30px;
}

Login{
	color:FF007F;
	font-family:돋움;
	font-weight:bold;
	margin-right:10px;
}
a.login:link{ text-decoration:none; color: FF007F;}
a.login:visited{ text-decoration:none; color: FF007F;}
a.login:hover{color:yellow;}

#sign_up{
	position:absolute;
	top:-300px;
	width:300px;
	height:300px;
	overflow:hidden;
	z-index:9;
	display:block;
}



/*회원가입 페이지 style Sheet*/
.label_signup{	
	color: white;
	font-weight:bold;
	padding : 3px;
	font-size:10;
}
.input_signup{
	margin: 10px;
	background-color : #808080;
	text-align : right;
}
#submit_cancel{
	font-size:13px;
	text-align : right;
	padding-right:10px;
}
a.submit:link{ text-decoration:none; color: #808080;}
a.submit:visited{ text-decoration:none; color: #808080;}
a.submit:hover{color:#909090;}

/*로그인 페이지 style Sheet*/
.Login_input{
	width : 500px;
	height : 40px;
	margin-left:400px;
	margin-top:60px;
	text-align : justify;
	border-bottom:3px solid white;
}
.label_login{
	color: white;
	font-weight:bold;
	padding : 3px;
	font-size:16;
	float : left;
}
.Login_input  input{
	border : none;
	background : none;
	margin-right : 80px;
	font-size : 20;
	color:white;
	font-weight:bold;
	width: 300px;
	float : right;
}

/*------------------------------------------------*/
/*SimplicScrum_main.html Style Sheet*/ 
#top
{	
	width:100%;
	height:60px;
	background-color:#38363C;
	text-align:right;
	box-shadow: 0 4px 2px -2px rgba(0,0,0,0.4);
	z-index : 10;
}

#top .left_innerdiv
{
	float:left;
	width:150px;
}
#top .right_innerdiv{
	padding-top:35px;
	padding-right:20px;
	text-align : right;
	color : white;
}

#second_top{
	position: absolute;
	top: 60px;
	width: 100%;
	height: 40px;
	background-color: #da125c;
}

#second_top .product_backlog{
	position: absolute;
	top: 10px;
	width : 360px;
/*	left: 85px;*/
	color: #FFFFFF;
	font-weight:bold;
	z-index: 7;
}

a.p_backlog:link{ text-decoration:none; color: #FFFFFF;}
a.p_backlog:visited{ text-decoration:none; color: #FFFFFF;}
a.p_backlog:hover{color:yellow;}

#second_top .sprint_backlog{
	position: absolute;
	top: 10px;
	width : 360px;
/*	left: 520px;*/
	color: #000000;
	font-weight:bold;
	z-index: 7;
}
a.s_backlog:link{ text-decoration:none; color: #000000;}
a.s_backlog:visited{ text-decoration:none; color: #000000;}
a.s_backlog:hover{color:yellow;}


#second_top .sprint{
	position: absolute;
	top: 10px;
	width : 360px;
/*	left: 952px;*/
	color: #000000;
	font-weight:bold;
	z-index: 7;
}
a.sprint_link:link{ text-decoration:none; color: #000000;}
a.sprint_link:visited{ text-decoration:none; color: #000000;}
a.sprint_link:hover{color:yellow;}


#project{
	width:100%;
	height:100%;
	background : #d2d1d1;
}

#project_background{
	position:absolute;
	/*left:0px;*/
	height:100%;
	/*width:70%;*/
	background : URL("/~sscrum/SimplicScrum/image/background_project.png");
	z-index:9;
}

#project_list .projectList_close_btn{
	position: absolute;
	left: 70%;
	/*width:418px;*/
	height: 500px;
	background:URL("/~sscrum/SimplicScrum/image/projectList_close_btn.png");
	background-repeat:no-repeat;
	z-index:100;
}

#project_list .innerdiv_left{
	width:377px;
	float:left;
	height:100%;
	background:#CE4F4F;
}

#project_list .innerdiv_top{
	position: absolute;
	left: 60%;
	width:418px;
	height:800px;
	background:URL("/~sscrum/SimplicScrum/image/Project_List.png");
	background-repeat:no-repeat;
}


#project_list .add_btn{
	position:absolute;
	top:80px;
	left:200px;

}


close{
	position: absolute;
	padding-top:390px;
	font-family:Arial;
	font-size:8px;
}

a.project_close:link{ text-decoration:none; color: #000000;}
a.project_close:Visited{ text-decoration:none; color: #000000;}
a.project_close:hover{color:white;}

#list_sortable { 
	position: absolute;
	left:70px;
	top: 150px;
	list-style-type: none;
	margin-top: 15px;
	padding: 15px; 
	width: 30%;
	z-index: 10;
}  

#list_sortable li {
	margin: 15px 3px 3px 4px;
	padding: 0.4px;
	padding-left: 1.5px;
	font-size: 25px;
	height: 25px;
} 

#content{
	position:absolute;
	top:100px;
	left:35px;
	width: 100%;
	height: 800px;

}

#content .make_product{
	position:absolute;
	top:0px;
/*	left:50px;*/
	width: 360px;
	height: 100%;
	background: #FFFFFF;
	box-shadow: 2px 2px 6px rgba(0,0,0,0.3);
	overflow-y:auto;
}

/*======================추가 20130605_0204 시작===========*/
.plus_backlog{
/*백로그 생성창*/
	position : absolute;
	margin-left : 300px;
	width : 350px;
	background : #FFFFFF;
	padding : 5px;
	z-index : 5;
	color : #808080;
	border:solid;
	font-weight : bold;
}

.input_makeBacklog{
	margin-bottom:10px;
}

.label_backlog{
	color:#808080;
	font-weight:bold;
	padding : 3px;
	font-size:10;
	text-align:left;
}

.submit_cancel_class{
	font-size:13px;
	text-align : right;
	padding-right:10px;
}

.pbacklog_list
{
	background-image : URL("/~sscrum/SimplicScrum/image/p_backlog_bar.png");
	background-repeat: no-repeat;
	background-position : right bottom;
}
.sbacklog_list
{
	background-image : URL("/~sscrum/SimplicScrum/image/s_backlog_bar.png");
	background-repeat: no-repeat;
	background-position : right bottom;
}

.splint_list
{
	background-image : URL("/~sscrum/SimplicScrum/image/sprint_bar.png");
	background-repeat: no-repeat;
	background-position : right bottom;
}

.sprintBacklog_card_name{
	position : absolute;
	float : left;
	width : 250px;
}

.sprint_card_name{
	position : absolute;
	float : left;
	width : 250px;
}

.sprintBacklog_vote_now{
	position : absolute;
	float : left;
	width : 10px;
}
.sprintBacklong_vote_total{
	position : absolute;
	float : right;
	padding-top: 10px;
	width : 10px;
}
.sprintBacklog_vote_now{
	position : absolute;
	float : left;
	width : 10px;
}
.extText{
	background-color : #cccccc;
	margin-top:13px;
	position:absolute;
	height : 200px;
	width : 286px;
}

 .nlClass{
	margin-left:34px;
	margin-top:13px;
	position:absoulte;
	width:286px;
	height:40px;
	line-height:40px;	
}

.nlClass .bContent{
	display:none;

}

#Relation_Backlog_List{
	height : 100px;
	overflow : auto;
}
/*======================추가 20130605_0204 끝===========*/


#content .ineer_product_btn{
	margin-left:280px;

}

#content .make_sprintbacklog{
	position:absolute;
	top:0px;
/*	left:436px;*/
	width: 360px;
	height: 100%;
	background: #FFFFFF;
	box-shadow: 2px 2px 6px rgba(0,0,0,0.3);
}

#content .make_sprint{
	position:absolute;
	top:0px;
/*	left:870px;*/
	width: 360px;
	height: 100%;
	background: #FFFFFF;
	box-shadow: 2px 2px 6px rgba(0,0,0,0.3);
}


/*-------------------------*/

/*프로젝트 생성 페이지*/

#make_project{
	position:absolute;
	top : 80px;
	width:332px;
	background: #FFFFFF; 
	overflow:hidden;
	display:none;
	z-index:9;
	border: 1px solid #d2d1d1; 
}

#make_project .project_tiltle_bar{
	width:100%;
	height: 30px;
	vertical-align: middle;
	background-color: #3b3a3f;
	color: #FFFFFF;
	font-weight:bold;

}

#make_project .input_project{
	width: 310px;
	height: 30px;
	margin: 10px;
	background-color : #3b3a3f;
	color: #FFFFFF;
}

#make_project .label_project{
	width: 250px;
	margin: 0px;
	background-color : #3b3a3f;
	color: #FFFFFF;
	text-align : left;
}

#project_member{
	width:310px; 
	margin-left:10px; 
	background-color:#3b3a3f; 
	color:white; 
	margin-top:10px; 
	margin-bottom:10px;

}

#project_member .check_member{
	background-color:#3b3a3f;
	width:305px; 
	height:15px; 
	border:none; 
	color:#afafaf; 
	font-size:8px; 
	text-align:right;
	margin-right:8px;
}

#project_member .member_list #members{
	height:160px;
	overflow-y:auto;
}

#project_member .member_list #members .addMlists .delAddMem{
	width:23px;
	height:24px;
	line-height: 24px;
	background-image : url("/~sscrum/SimplicScrum/image/member_deletebtn.png");
	background-repeat: no-repeat;
	float:right;
	cursor: pointer;
}

#id_term{
	width:310px; 
	height:25px;
	margin-left:10px; 
	background-color:#3b3a3f;
}

#id_date{
	width: 310px;
	height:30px;
	margin-left:10px; 
	background-color:#3b3a3f; 
	color:white;"
}

/*-------------------------------------*/

#back_opacity {
    position: absolute;
    top: 60px;
    left: 0px;
	width: 100%;
	height: 100%;
    background-color: #333333;
	z-index: 8;
	filter: alpha(opacity=3); opacity: 0.3;
}

pro{
	position: absolute;
	margin-top:80px;
	margin-left:50px;
	font-family: Arial;
	font-weight:bold;
	font-size:35px;
}

p_add_btn {
	position: absolute;
	margin-top:90px;
	margin-left:290px;

}

#calendar {
	position: absolute;
	top:100px;
	left:50%;
	width: 40%;	/*달력 크기 조절*/
	background-color:white;
	z-index : 9;
	}
	
	/*그래프 페이지*/

.graph_page{
	position : absolute;
	top : 160px;
	height : 1000px;
}
.graph_left{
	position : absolute;
	width:100%;
	left : 30px;
	z-index: 10;
}

.graph_right{
	position : absolute;
	left : 100px;
	width : 100%;
	height : 390px;
	margin : 0 auto;

}

.graph_discription{
	position : absolute;
	float:left;
	width : 293px;
	background:url("/~sscrum/SimplicScrum/image/graph_left.png");
	background-repeat:no-repeat;
	background-color : #EF4B4B;
}

.graph_show{
	position : absolute;
	left : 293px;
	background-color : #FFFFFF;
}

.graph_Project_name{
	position : absolute;
	top : 60px;
	left : 25px;
	
	font-weight : bold;
	font-size : 23;
	font-family : Arial;
	color: #FFFFFF;
}

.graph_User_name{
	position : absolute;
	top : 100px;
	left : 25px;
	
	font-weight : bold;
	font-size : 15;
	font-family : Arial;
	color: #FFFFFF;
}

.graph_Term{
	position : absolute;
	top : 250px;
	left : 25px;
	
	font-weight : bold;
	font-size : 20;
	font-family : Arial;
	color: #FFFFFF;
}

.graph_Term_bar{
	position : absolute;
	top : 300px;
	left : 25px;
}
/*-------------------sprint-----------------*/
#second_top_sprint{
	position: absolute;
	top: 60px;
	width: 100%;
	height: 40px;
	background-color: #33b0aa;
}
#second_top_sprint .sprint{
	position: absolute;
	top: 10px;
	width : 360px;
	color: #FFFFFF;
	font-weight:bold;
	margin-left: 103px;
	z-index: 7;
}

#content .sprint_content{
	text-align: center;
	font-weight:bold;
	margin-bottom: 25px;
}

#content .sprint{
	position:absolute;
	top:0px;
	width: 360px;
	height: 100%;
	background: #FFFFFF;
	box-shadow: 2px 2px 6px rgba(0,0,0,0.3);
}
/*-----------------------------------------*/
